/*  
    light: #7188e2
    dark: #1D348C
*/

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.channel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 50vh;
    width: 100%;
}

.chart {
    width: 106vw;
    height: 50%;
    transform: translateY(30px) scaleX(1);
}

.panel {
    display: flex;
    justify-content: center;
    background-color: #1d348c;
    width: 100%;
    height: 45%;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 0;
}

.panel-label {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
}

.panel-value {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}
