/*  
    light: #7188e2
    dark: #1D348C
*/

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
