@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    overflow-x: hidden;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.1rem;
}

h6 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.1rem;
}
